/* General */
.content {
    color: #464342;
}

/*Fonts */
@font-face {
    font-family: ClashFont;
    src: url(fonts/supercell-magic-webfont.ttf);
}

.clash-font {
    font-family: ClashFont, Courier !important;
    color: #FFD700 !important;
}

/* Army view */
    
    /* Select */
    .inline{
        display:inline;
    }

    /* Tables */
    th {
        font-size: 120%;
    }

    .troop-img {
        max-width: 30px;
        max-height: 30px;
    }

    /* Costs classes*/
    .elixir {
        color: #CC0066;
    }
    .dark-elixir {
        color: #000;
    }

    .limit{
        color: #f00 !important;
    }

/* Footer style */
.footer {
    padding-right: 10px;
    padding-left: 10px;
}

.autor:link {
    text-decoration: none;
    color: #464342;
}

.autor:visited {
    text-decoration: none;
    color: #464342;
}

.autor:hover {
    text-decoration: none;
    color: #006064;
}

.autor:active {
    text-decoration: none;
}