/* General */
.content {
    color: #464342;
}

.ul-select {
    padding-left: 0px;
}

/*Fonts */
@font-face {
    font-family: ClashFont;
    src: url(fonts/supercell-magic-webfont.ttf);
}

.clash-font {
    font-family: ClashFont, Courier !important;
    color: #FFD700 !important;
}

/* Army view */
    
    /* Select */
    .inline{
        display:inline;
    }

    /* Tables */
    th {
        font-size: 120%;
    }

    .troop-img {
        max-width: 30px;
        max-height: 30px;
    }

    /* Rows */
    .troop-row{
        border: 2px solid #E0E0E0;
        border-bottom: 0px !important;
        padding: 4px 2px 2px;
        padding-top: 
    }
    .troop-row:hover{
        background-color: #F5F5F0;
    }

    .troop-row-last{
        border: 2px solid #E0E0E0;
        padding: 4px 2px 2px;
    }
    .troop-row-last:hover{
        background-color: #F5F5F0;
    }

    /* Costs classes*/
    .elixir {
        color: #CC0066;
    }
    .dark-elixir {
        color: #000;
    }

    .limit{
        color: #f00 !important;
    }

/* Footer style */
.footer {
    padding-right: 10px;
    padding-left: 10px;
}

.autor:link {
    text-decoration: none;
    color: #464342;
}

.autor:visited {
    text-decoration: none;
    color: #464342;
}

.autor:hover {
    text-decoration: none;
    color: #006064;
}

.autor:active {
    text-decoration: none;
}

/* Fix UI Bootstrap problem */

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}