
.inline{
    display:inline;
}

.quote {
	font-style: italic;
}

.troop-img {
	max-width: 30px;
	max-height: 30px;
}

.elixir {
	color: #CC0066;
}
.dark-elixir {
    color: #000;
}

.content {
	color: #464342;
}

.footer {
	padding-right: 10px;
}

.autor:link {
    text-decoration: none;
    color: #464342;
}

.autor:visited {
    text-decoration: none;
    color: #464342;
}

.autor:hover {
    text-decoration: none;
    color: #006064;
}

.autor:active {
    text-decoration: none;
}

.limit{
    color: #f00 !important;
}

th {
    text-align: center !important;
    font-size: 120%;
}