tab(heading='Town Hall (config)')
  p
  pre {{unit.lvls}}
  pre {{unit.cost}}
  .card.center-text.box-wrap-center-around
    .card-img.test-frame
        img.img-responsive.img-rounded(src="http://gillchristian.com/clash/img/troops/earthquake.png")
    .building-info.col-60.box-wrap-center-around
      h1.h4.col-100 trainer building
      p.col-50 spaces
      p.col-50 time
      p.col-50 cost
      p.col-50 other
    .right-col.box-wrap-center-around.col-100
      .box-around.col-100
        img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/witch.png")
        img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/pig.png")
        img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/valkirye.png")
        img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/golem.png")
        img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/lavahound.png")
    .col-100.test-frame.box-wrap-center-around
      .col-100.test-frame
        p chose lvl of building
      .col45.test-frame
        select.form-control
      .col45.test-frame
        select.form-control
      .col45.test-frame
        select.form-control
      .col45.test-frame
        select.form-control