
<h3 class="page-header">Calculate your army</h3>
<div class="row">
  <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-xs-6">
    <p><span class="elixir"><span aria-hidden="true" class="glyphicon glyphicon-tint"> </span></span><span>Barracks </span><span ng-bind=" vm.total_cost('light') | number" class="elixir"> </span></p>
    <p><span class="dark-elixir"><span aria-hidden="true" class="glyphicon glyphicon-tint"> </span></span><span>Dark Barracks </span><span ng-bind=" vm.total_cost('dark') | number" class="dark-elixir"></span></p>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6">
    <p><span class="elixir"><span aria-hidden="true" class="glyphicon glyphicon-fire"> </span></span><span>Spells </span><span ng-bind=" vm.total_cost('light_spells') | number" class="elixir"></span></p>
    <p><span class="dark-elixir"><span aria-hidden="true" class="glyphicon glyphicon-fire"> </span></span><span>Dark Spells </span><span ng-bind=" vm.total_cost('dark_spells') | number" class="dark-elixir"></span></p>
  </div>
  <div class="col-lg-2 col-md-offset-0 col-md-2 col-xs-offset-3 col-xs-6">
    <p><span class="elixir"><span aria-hidden="true" class="glyphicon glyphicon-tint"> </span></span><span>Total Elixir </span><span ng-bind=" vm.total_cost('total.light') | number" class="elixir"></span></p>
    <p><span class="dark-elixir"><span aria-hidden="true" class="glyphicon glyphicon-tint"> </span></span><span>Total Dark Elixir </span><span ng-bind=" vm.total_cost('total.dark') | number" class="dark-elixir"> </span></p>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6">
    <p ng-class="{limit : vm.limit('troops')}"><span aria-hidden="true" class="glyphicon glyphicon-user"> </span><span>Amry </span><span ng-bind=" vm.spacing('total.troops')"></span></p>
    <p ng-class="{limit : vm.limit('troops')}"><span aria-hidden="true" class="glyphicon glyphicon-user"> </span><span>Max Troops </span><span ng-bind=" vm.max_amount('troops')"></span></p>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6">
    <p ng-class="{limit : vm.limit('spells')}"><span class="elixir"><span aria-hidden="true" class="glyphicon glyphicon-fire"> </span></span><span>Spells </span><span ng-bind=" vm.spacing('total.spells')"></span></p>
    <p ng-class="{limit : vm.limit('spells')}"><span class="elixir"><span aria-hidden="true" class="glyphicon glyphicon-fire"> </span></span><span>Max Spells </span><span ng-bind=" vm.max_amount('spells')"></span></p>
  </div>
</div>
<hr/>
<h3>Choose the level of your buildings:</h3>
<div class="row">
  <div class="col-lg-offset-0 col-lg-2 col-md-offset-2 col-md-4 col-xs-offset-3 col-xs-6">
    <h4>Army Camps</h4>
    <ul class="inline ul-select">
      <li ng-repeat="camp in vm.camps" class="inline">
        <select ng-init="camp.lvl = camp.lvls[0]" ng-model="camp.lvl" ng-options="lvl for lvl in camp.lvls"></select>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-7">
    <h4>Barracks</h4>
    <ul class="inline ul-select">
      <li ng-repeat="light_barrack in vm.light_barracks" class="inline">
        <select ng-init="light_barrack.lvl = light_barrack.lvls[0]" ng-model="light_barrack.lvl" ng-options="lvl for lvl in light_barrack.lvls"></select>
      </li>
    </ul>
  </div>
  <div class="col-lg-2 col-lg-offset-0 col-md-offset-2 col-md-2 col-xs-5">
    <h4>Dark Barracks</h4>
    <ul class="inline ul-select">
      <li ng-repeat="dark_barrack in vm.dark_barracks" class="inline">
        <select ng-init="dark_barrack.lvl = dark_barrack.lvls[0]" ng-model="dark_barrack.lvl" ng-options="lvl for lvl in dark_barrack.lvls"></select>
      </li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-5">
    <h4>Spell Factory</h4>
    <ul class="inline ul-select">
      <li ng-repeat="factory in vm.light_factory" class="inline">
        <select ng-init="factory.lvl = factory.lvls[0]" ng-model="factory.lvl" ng-options="lvl for lvl in factory.lvls"></select>
      </li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-3 col-xs-6">
    <h4>Dark Spell Factory</h4>
    <ul class="inline ul-select">
      <li ng-repeat="factory in vm.dark_factory" class="inline">
        <select ng-init="factory.lvl = factory.lvls[0]" ng-model="factory.lvl" ng-options="lvl for lvl in factory.lvls"></select>
      </li>
    </ul>
  </div>
</div>
<hr/>
<tabset type="tabs" justified="true">
  <!-- TAB-->
  <tab heading="Barracks"><br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div ng-repeat="unit in vm.light_troops | orderBy:'id' track by unit.id" class="row troop-row">
          <div class="col-md-8 col-xs-12">
            <div class="col-md-3 col-xs-3"><img ng-src="{{vm.url}}troops/light/{{unit.unit}}.png" title="{{unit.name}}" alt="{{unit.name}}" class="img-responsive img-circle"/></div>
            <div class="col-md-2 col-xs-3 hidden-xs"><b>
                <p><span>Unit: </span></p>
                <p><span>Total: </span></p></b></div>
            <div class="col-md-3 col-xs-3">
              <p>
                <select ng-init="unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
              </p>
              <p>
                <input size="3" type="text" ng-model="unit.amount"/>
              </p>
            </div>
            <div class="col-md-2 col-xs-3">
              <p>1 x <b><span ng-bind="unit.cost[unit.lvl-1] | number" class="elixir"></span></b></p>
              <p><span ng-show="(unit.cost[unit.lvl]*unit.amount) != '' &amp;&amp; '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number" class="elixir"></span></p>
            </div>
            <div class="col-md-2 col-xs-3">
              <p>1 x <b><span ng-bind="unit.time | creation_time"></span></b></p>
              <p><span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span></p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="visible-xs col-xs-offset-2 col-xs-4">
              <p><b>Amount per Barrack</b></p>
            </div>
            <div class="hidden-xs col-md-12">
              <p><b>Amount per Barrack</b></p>
            </div>
            <div ng-repeat="light_barrack in vm.light_barracks" class="col-md-3 col-xs-1">
              <p><span ng-show="light_barrack.amount[unit.id] != '0'" ng-bind="light_barrack.amount[unit.id]"></span></p>
            </div>
          </div>
        </div>
        <div class="row troop-row">
          <div class="col-xs-2">
            <p><br/><b>Totals</b></p>
          </div>
          <div class="col-xs-2">
            <p><b>Troops</b></p>
            <p ng-bind="vm.spacing('light')"></p>
          </div>
          <div class="col-xs-2">
            <p><b>Cost</b></p>
            <p ng-bind="vm.total_cost('light') | number" class="elixir"></p>
          </div>
          <div class="col-xs-2">
            <p><b>Time</b></p>
            <p ng-bind="vm.time('light') | creation_time"></p>
          </div>
          <div class="col-xs-4">
            <div class="col-md-10 col-md-offset-1">
              <p><b>Time per Barrack</b></p>
            </div>
            <div ng-repeat="light_barrack in vm.light_barracks" class="col-md-3">
              <p><span ng-bind="barrack_time('light',$index) | creation_time"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div><br/>
  </tab>
  <!-- TAB-->
  <tab heading="Dark Barracks"><br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div ng-repeat="unit in vm.dark_troops | orderBy:'id' track by unit.id" class="row troop-row">
          <div class="col-md-8 col-xs-12">
            <div class="col-md-3 col-xs-3"><img ng-src="{{vm.url}}troops/dark/{{unit.unit}}.png" title="{{unit.name}}" alt="{{unit.name}}" class="img-responsive img-circle"/></div>
            <div class="col-md-2 col-xs-3 hidden-xs"><b>
                <p><span>Unit: </span></p>
                <p><span>Total: </span></p></b></div>
            <div class="col-md-3 col-xs-3">
              <p>
                <select ng-init="unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
              </p>
              <p>
                <input size="3" type="text" ng-model="unit.amount"/>
              </p>
            </div>
            <div class="col-md-2 col-xs-3">
              <p>1 x <b><span ng-bind="unit.cost[unit.lvl-1] | number" class="dark-elixir"></span></b></p>
              <p><span ng-show="(unit.cost[unit.lvl]*unit.amount) != '' &amp;&amp; '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number" class="dark-elixir"></span></p>
            </div>
            <div class="col-md-2 col-xs-3">
              <p>1 x <b><span ng-bind="unit.time | creation_time"></span></b></p>
              <p><span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span></p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="visible-xs col-xs-offset-2 col-xs-4">
              <p><b>Amount per Barrack</b></p>
            </div>
            <div class="hidden-xs col-md-12">
              <p><b>Amount per Barrack</b></p>
            </div>
            <div ng-repeat="dark_barrack in vm.dark_barracks" class="col-md-3 col-xs-1">
              <p><span ng-show="dark_barrack.amount[unit.id] != '0'" ng-bind="dark_barrack.amount[unit.id]"></span></p>
            </div>
          </div>
        </div>
        <div class="row troop-row">
          <div class="col-xs-2">
            <p><br/><b>Totals</b></p>
          </div>
          <div class="col-xs-2">
            <p><b>Troops</b></p>
            <p ng-bind="vm.spacing('dark')"></p>
          </div>
          <div class="col-xs-2">
            <p><b>Cost</b></p>
            <p ng-bind="vm.total_cost('dark') | number"></p>
          </div>
          <div class="col-xs-2">
            <p><b>Tiempo</b></p>
            <p ng-bind="vm.total_cost('dark') | number"></p>
          </div>
          <div class="col-xs-4">
            <div class="col-md-10 col-md-offset-1">
              <p><b>Time per Barrack</b></p>
            </div>
            <div ng-repeat="dark_barrack in vm.dark_barracks" class="col-md-3">
              <p><span ng-bind="barrack_time('dark',$index) | creation_time"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div><br/>
  </tab>
  <!-- TAB-->
  <tab heading="Spells"><br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-repeat="unit in vm.light_spells | orderBy:'id' track by unit.id" class="row troop-row">
          <div class="col-md-3 col-xs-3"><img ng-src="{{vm.url}}troops/lightSpells/{{unit.unit}}.png" title="{{unit.name}}" alt="{{unit.name}}" class="img-responsive img-circle"/></div>
          <div class="col-md-2 col-xs-2 hidden-xs"><b>
              <p><span>Unit: </span></p>
              <p><span>Total: </span></p></b></div>
          <div class="col-md-3 col-xs-3">
            <p>
              <select ng-init="unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
            </p>
            <p>
              <input size="3" type="text" ng-model="unit.amount"/>
            </p>
          </div>
          <div class="col-md-2 col-xs-3">
            <p>1 x <b><span ng-bind="unit.cost[unit.lvl-1] | number" class="elixir"></span></b></p>
            <p><span ng-show="(unit.cost[unit.lvl]*unit.amount) != '' &amp;&amp; '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number" class="elixir"></span></p>
          </div>
          <div class="col-md-2 col-xs-3">
            <p>1 x <b><span ng-bind="unit.time | creation_time"></span></b></p>
            <p><span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span></p>
          </div>
        </div>
        <div class="row troop-row">
          <div class="col-md-3 col-xs-3">
            <p><br/><b>Totals</b></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Amount</b></p>
            <p ng-bind="vm.spacing('light_spells')"></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Cost</b></p>
            <p ng-bind="vm.total_cost('light_spells') | number"></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Time</b></p>
            <p ng-bind="vm.time('light_spells') | creation_time"></p>
          </div>
        </div>
      </div>
    </div><br/>
  </tab>
  <tab heading="Dark Spells">
    <!-- TAB--><br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-repeat="unit in vm.dark_spells | orderBy:'id' track by unit.id" class="row troop-row">
          <div class="col-md-3 col-xs-3"><img ng-src="{{vm.url}}troops/darkSpells/{{unit.unit}}.png" title="{{unit.name}}" alt="{{unit.name}}" class="img-responsive img-circle"/></div>
          <div class="col-md-2 col-xs-2 hidden-xs"><b>
              <p><span>Unit: </span></p>
              <p><span>Total: </span></p></b></div>
          <div class="col-md-3 col-xs-3">
            <p>
              <select ng-init="unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
            </p>
            <p>
              <input size="3" type="text" ng-model="unit.amount"/>
            </p>
          </div>
          <div class="col-md-2 col-xs-3">
            <p>1 x <b><span ng-bind="unit.cost[unit.lvl-1] | number" class="elixir"></span></b></p>
            <p><span ng-show="(unit.cost[unit.lvl]*unit.amount) != '' &amp;&amp; '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number" class="elixir"></span></p>
          </div>
          <div class="col-md-2 col-xs-3">
            <p>1 x <b><span ng-bind="unit.time | creation_time"></span></b></p>
            <p><span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span></p>
          </div>
        </div>
        <div class="row troop-row">
          <div class="col-md-3 col-xs-3">
            <p><br/><b>Totals</b></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Amount</b></p>
            <p ng-bind="vm.spacing('dark_spells')"></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Cost</b></p>
            <p ng-bind="vm.total_cost('dark_spells') | number"></p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p><b>Time</b></p>
            <p ng-bind="vm.time('dark_spells') | creation_time"></p>
          </div>
        </div>
      </div>
    </div><br/>
  </tab>
</tabset><br/>