<h3 class="page-header">Calculate your army</h3>


	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-xs-6">
			<p>
				<span class="elixir"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
				<span>Barracks</span> <span class="elixir" ng-bind="vm.costo('light') | number"></span>
			</p>
			<p>
				<span class="dark-elixir"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
				<span>Dark Barracks</span> <span class="dark-elixir" ng-bind="vm.costo('dark') | number"></span>
			</p>
		</div>
		<div class="col-lg-2 col-md-2 col-xs-6">
			<p>
				<span class="elixir"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
				<span>Spells</span> <span class="elixir" ng-bind="vm.costo('lightSpells') | number"></span>
			</p>

			<p>
				<span class="dark-elixir"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
				<span>Dark Spells</span> <span class="dark-elixir" ng-bind="vm.costo('darkSpells') | number"></span>
			</p>
		</div>

		<div class="col-lg-2 col-md-offset-0 col-md-2 col-xs-offset-3 col-xs-6">
			<p>
				<span class="elixir"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
				<span>Total Elixir</span> <span class="elixir" ng-bind="vm.costo('total.light') | number"></span>
			</p>
			<p>
				<span class="dark-elixir"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
				<span>Total Dark Elixir</span> <span class="dark-elixir" ng-bind="vm.costo('total.dark') | number"> </span>
			</p>
		</div>
		<div class="col-lg-2 col-md-2 col-xs-6">
			<p ng-class="{limit : vm.limit('troops')}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span>Amry</span> <span ng-bind="vm.spacing('total.troops')"></span>
			</p>
			<p ng-class="{limit : vm.limit('troops')}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span>Max Troops</span> <span ng-bind="vm.max_amount('troops')"></span>
			</p>
		</div>
		<div class="col-lg-2 col-md-2 col-xs-6">
			<p ng-class="{limit : vm.limit('spells')}">
				<span class="elixir"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
				<span>Spells</span> <span ng-bind="vm.spacing('total.spells')"></span>
			</p>
			<p ng-class="{limit : vm.limit('spells')}">
				<span class="elixir"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
				<span>Max Spells</span> <span ng-bind="vm.max_amount('spells')"></span>
			</p>
		</div>
	</div>

<hr>

<h3>Choose the level of your buildings:</h3>
<div class="row">
	<div class="col-lg-offset-0 col-lg-2 col-md-offset-2 col-md-4 col-xs-offset-3 col-xs-6">
		<h4>Army Camps</h4>
		<ul class="inline ul-select">
			<li class="inline" ng-repeat="camp in vm.camps">
				<select ng-init = "camp.lvl = camp.lvls[0]" ng-model="camp.lvl" ng-options="lvl for lvl in camp.lvls"></select>
			</li>
		</ul>
	</div>


	<div class="col-lg-3 col-md-4 col-xs-7">
		<h4>Barracks</h4>
		<ul class="inline ul-select">
			<li class="inline" ng-repeat="light_barrack in vm.light_barracks">
				<select ng-init = "light_barrack.lvl = light_barrack.lvls[0]" ng-model="light_barrack.lvl" ng-options="lvl for lvl in light_barrack.lvls"></select>
			</li>
		</ul>
	</div>

	<div class="col-lg-2 col-lg-offset-0 col-md-offset-2 col-md-2 col-xs-5">
		<h4>Dark Barracks</h4>
		<ul class="inline ul-select">
			<li class="inline" ng-repeat="dark_barrack in vm.dark_barracks">
				<select ng-init = "dark_barrack.lvl = dark_barrack.lvls[0]" ng-model="dark_barrack.lvl" ng-options="lvl for lvl in dark_barrack.lvls"></select>
			</li>
		</ul>
	</div>



	<div class="col-lg-2 col-md-2 col-xs-5">
		<h4>Spell Factory</h4>
		<ul class="inline ul-select">
			<li class="inline" ng-repeat="factory in vm.lightSpellsFactory">
				<select ng-init = "factory.lvl = factory.lvls[0]" ng-model="factory.lvl" ng-options="lvl for lvl in factory.lvls"></select>
			</li>
		</ul>
	</div>

	<div class="col-lg-2 col-md-3 col-xs-6">
		<h4>Dark Spell Factory</h4>
		<ul class="inline ul-select">
			<li class="inline" ng-repeat="factory in vm.darkSpellsFactory">
				<select ng-init = "factory.lvl = factory.lvls[0]" ng-model="factory.lvl" ng-options="lvl for lvl in factory.lvls"></select>
			</li>
		</ul>
	</div>
</div>

<hr>

<tabset justified="true" type="pills">
    <tab heading="Barracks"><!-- TAB -->
    	<br>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="row troop-row" ng-repeat="unit in vm.light | orderBy:'id' track by unit.id">
					<div class="col-md-8 col-xs-12">
						<div class="col-md-3 col-xs-3">
							<img ng-src="http://gillchristian.com/clash/img/troops/light/{{unit.unit}}.png" class="img-responsive img-circle" title="{{unit.name}}" alt="{{unit.name}}">
						</div>
						<div class="col-md-2 col-xs-3 hidden-xs">
							<b><p>
								<span>Unit: </span>
							</p>
							<p>
								<span>Total: </span>
							</p></b>
						</div>
						<div class="col-md-3 col-xs-3">
							<p>
								<select ng-init = "unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
							</p>
							<p>
								<input size="3" type="text" ng-model="unit.amount">
							</p>
						</div>
						<div class="col-md-2 col-xs-3">
							<p>
								1 x <b><span class="elixir" ng-bind="unit.cost[unit.lvl-1] | number"></span></b>
							</p>
							<p>
								<span class="elixir" ng-show="(unit.cost[unit.lvl]*unit.amount) != '' && '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number"></span>
							</p>
						</div>
						<div class="col-md-2 col-xs-3">
							<p>
								1 x <b><span ng-bind="unit.time | creation_time"></span></b>
							</p>
							<p>
								<span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="visible-xs col-xs-offset-2 col-xs-4"> <p><b>Amount per Barrack</b></p></div>
						<div class="hidden-xs col-md-12"> <p><b>Amount per Barrack</b></p></div>
						<div class="col-md-3 col-xs-1" ng-repeat="light_barrack in vm.light_barracks">
							<p>
								<span ng-show="light_barrack.amount[unit.id] != '0'" ng-bind="light_barrack.amount[unit.id]"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="row troop-row-last">

					<div class="col-xs-2">
						<p><br><b>Totals</b></p>
					</div>
					<div class="col-xs-2">
						<p><b>Troops</b></p>
						<p ng-bind="vm.spacing('light')"></p>
					</div>
					<div class="col-xs-2">
						<p><b>Cost</b></p>
						<p class="elixir" ng-bind="vm.costo('light') | number"></p>
					</div>
					<div class="col-xs-2">
						<p><b>Time</b></p>
						<p ng-bind="vm.tiempo('light') | creation_time"></p>
					</div>
					<div class="col-xs-4">
						<div class="col-md-10 col-md-offset-1">
							<p><b>Time per Barrack</b></p>
						</div>
						<div class="col-md-3" ng-repeat="light_barrack in vm.light_barracks">
							<p>
								<span ng-bind="barrack_time('light',$index) | creation_time"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
    </tab> <!-- .TAB -->

    <tab heading="Dark Barracks"><!-- TAB -->
    	<br>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="row troop-row" ng-repeat="unit in vm.dark | orderBy:'id' track by unit.id">
					<div class="col-md-8 col-xs-12">
						<div class="col-md-3 col-xs-3">
							<img ng-src="http://gillchristian.com/clash/img/troops/dark/{{unit.unit}}.png" class="img-responsive img-circle" title="{{unit.name}}" alt="{{unit.name}}">
						</div>
						<div class="col-md-2 col-xs-3 hidden-xs">
							<b><p>
								<span>Unit: </span>
							</p>
							<p>
								<span>Total: </span>
							</p></b>
						</div>
						<div class="col-md-3 col-xs-3">
							<p>
								<select ng-init = "unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
							</p>
							<p>
								<input size="3" type="text" ng-model="unit.amount">
							</p>
						</div>
						<div class="col-md-2 col-xs-3">
							<p>
								1 x <b><span class="dark-elixir" ng-bind="unit.cost[unit.lvl-1] | number"></span></b>
							</p>
							<p>
								<span class="dark-elixir" ng-show="(unit.cost[unit.lvl]*unit.amount) != '' && '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number"></span>
							</p>
						</div>
						<div class="col-md-2 col-xs-3">
							<p>
								1 x <b><span ng-bind="unit.time | creation_time"></span></b>
							</p>
							<p>
								<span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="visible-xs col-xs-offset-2 col-xs-4"> <p><b>Amount per Barrack</b></p></div>
						<div class="hidden-xs col-md-12"> <p><b>Amount per Barrack</b></p></div>
						<div class="col-md-3 col-xs-1" ng-repeat="dark_barrack in vm.dark_barracks">
							<p>
								<span ng-show="dark_barrack.amount[unit.id] != '0'" ng-bind="dark_barrack.amount[unit.id]"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="row troop-row-last">

					<div class="col-xs-2">
						<p><br><b>Totals</b></p>
					</div>
					<div class="col-xs-2">
						<p><b>Troops</b></p>
						<p ng-bind="vm.spacing('dark')"></p>
					</div>
					<div class="col-xs-2">
						<p><b>Cost</b></p>
						<p ng-bind="vm.costo('dark') | number"></p>
					</div>
					<div class="col-xs-2">
						<p><b>Tiempo</b></p>
						<p ng-bind="vm.costo('dark') | number"></p>
					</div>
					<div class="col-xs-4">
						<div class="col-md-10 col-md-offset-1">
							<p><b>Time per Barrack</b></p>
						</div>
						<div class="col-md-3" ng-repeat="dark_barrack in vm.dark_barracks">
							<p>
								<span ng-bind="barrack_time('dark',$index) | creation_time"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
    </tab> <!-- .TAB -->

    <tab heading="Spells"><!-- TAB -->
    	<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="row troop-row" ng-repeat="unit in vm.lightSpells | orderBy:'id' track by unit.id">
					<div class="col-md-3 col-xs-3">
						<img ng-src="http://gillchristian.com/clash/img/troops/lightSpells/{{unit.unit}}.png" class="img-responsive img-circle" title="{{unit.name}}" alt="{{unit.name}}">
					</div>
					<div class="col-md-2 col-xs-2 hidden-xs">
						<b><p>
							<span>Unit: </span>
						</p>
						<p>
							<span>Total: </span>
						</p></b>
					</div>
					<div class="col-md-3 col-xs-3">
						<p>
							<select ng-init = "unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
						</p>
						<p>
							<input size="3" type="text" ng-model="unit.amount">
						</p>
					</div>
					<div class="col-md-2 col-xs-3">
						<p>
							1 x <b><span class="elixir" ng-bind="unit.cost[unit.lvl-1] | number"></span></b>
						</p>
						<p>
							<span class="elixir" ng-show="(unit.cost[unit.lvl]*unit.amount) != '' && '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number"></span>
						</p>
					</div>
					<div class="col-md-2 col-xs-3">
						<p>
							1 x <b><span ng-bind="unit.time | creation_time"></span></b>
						</p>
						<p>
							<span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span>
						</p>
					</div>
				</div>

				<div class="row troop-row-last">

					<div class="col-md-3 col-xs-3">
						<p><br><b>Totals</b></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Amount</b></p>
						<p ng-bind="vm.spacing('lightSpells')"></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Cost</b></p>
						<p ng-bind="vm.costo('lightSpells') | number"></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Time</b></p>
						<p ng-bind="vm.tiempo('lightSpells') | creation_time"></p>
					</div>
				</div>
			</div>
		</div>
		<br>
    </tab><!-- .TAB -->

		<tab heading="Dark Spells"><!-- TAB -->
			<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="row troop-row" ng-repeat="unit in vm.darkSpells | orderBy:'id' track by unit.id">
					<div class="col-md-3 col-xs-3">
						<img ng-src="http://gillchristian.com/clash/img/troops/darkSpells/{{unit.unit}}.png" class="img-responsive img-circle" title="{{unit.name}}" alt="{{unit.name}}">
					</div>
					<div class="col-md-2 col-xs-2 hidden-xs">
						<b><p>
							<span>Unit: </span>
						</p>
						<p>
							<span>Total: </span>
						</p></b>
					</div>
					<div class="col-md-3 col-xs-3">
						<p>
							<select ng-init = "unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls"></select>
						</p>
						<p>
							<input size="3" type="text" ng-model="unit.amount">
						</p>
					</div>
					<div class="col-md-2 col-xs-3">
						<p>
							1 x <b><span class="elixir" ng-bind="unit.cost[unit.lvl-1] | number"></span></b>
						</p>
						<p>
							<span class="elixir" ng-show="(unit.cost[unit.lvl]*unit.amount) != '' && '0'" ng-bind="unit.cost[unit.lvl-1] * unit.amount | number"></span>
						</p>
					</div>
					<div class="col-md-2 col-xs-3">
						<p>
							1 x <b><span ng-bind="unit.time | creation_time"></span></b>
						</p>
						<p>
							<span ng-show="(unit.time*unit.amount) != ''" ng-bind="unit.time * unit.amount | creation_time"></span>
						</p>
					</div>
				</div>

				<div class="row troop-row-last">

					<div class="col-md-3 col-xs-3">
						<p><br><b>Totals</b></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Amount</b></p>
						<p ng-bind="vm.spacing('darkSpells')"></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Cost</b></p>
						<p ng-bind="vm.costo('darkSpells') | number"></p>
					</div>
					<div class="col-md-3 col-xs-3">
						<p><b>Time</b></p>
						<p ng-bind="vm.tiempo('darkSpells') | creation_time"></p>
					</div>
				</div>
			</div>
		</div>
		<br>
		</tab><!-- .TAB -->
  </tabset>

<br>
