
<div class="card-img test-frame">
  <card-img unit="building" classes="img-responsive img-rounded img-md"></card-img>
</div>
<div class="building-info col-60 box-wrap-center-around test-frame">
  <h1 class="h4 col-100 test-frame">{{::building.name}}</h1>
  <p class="col-50 test-frame">capacity: {{building.getActualCapacity()}}</p>
  <p class="col-50 test-frame">{{type.getTrainerTime(index) | creation_time}}</p>
  <p class="col-50 test-frame">cost {{building.getCost(type.units)}}</p>
  <p class="col-50 test-frame">total: {{building.getQueue()}}</p>
</div>
<div class="box-wrap-center-around col-100 test-frame">
  <div class="box-wrap-center-around col-100 test-frame">
    <div ng-repeat="unit in type.units track by $index" ng-show="unit.amount &gt; 0 &amp;&amp; unit.lvl &gt; 0 &amp;&amp; building.amount[unit.id]" class="box-center-around">
      <card-img unit="unit" classes="img-responsive img-circle img-small"></card-img>
      <div class="box-col-center-around"></div><span>{{building.amount[$index]}}</span>
    </div>
  </div>
</div>
<div class="col-100 box-wrap-center-around test-frame">
  <div class="col-50 test-frame">
    <p>chose lvl of building</p>
  </div>
  <select ng-model="building.lvl" ng-options="lvl for lvl in building.lvls" ng-change="watch()" class="col-25 form-control"></select>
</div>