
<div class="box-center-around col-100">
  <h1 class="col-40 h4">{{::unit.name}}</h1>
  <p class="col-30"> <i class="fa fa-tint"> </i> {{unit.getActualCost() | number}}</p>
  <p class="col-30"> <i class="fa fa-clock-o"> </i> {{::unit.time | creationTime}}</p>
</div>
<div class="card-img">
  <card-img unit="unit" classes="img-responsive img-md"></card-img>
</div>
<div class="col-60 box-wrap-center-around">
  <div ng-repeat="trainer in trainers" class="col-50 box-center-around">
    <card-img unit="trainer" classes="img-responsive img-circle img-small"></card-img>
    <div class="box-col-center-around"><span>{{ trainer.amount[unit.id] }}</span></div>
  </div>
</div>
<div class="col-100 box-center-around">
  <div class="col-30 form-group">
    <label for="select">lvl</label>
    <select ng-init="unit.lvl = unit.lvls[0]" ng-model="unit.lvl" ng-options="lvl for lvl in unit.lvls" ng-change="watch()" class="form-control"></select>
  </div>
  <div class="col-30 form-group">
    <label for="amount">amount</label>
    <div class="input-group">
      <input type="text" name="amount" ,="," ng-model="unit.amount" ng-change="watch()" class="form-control"/>
      <div class="input-group-addon">x{{::unit.space}}</div>
    </div>
  </div>
</div>
<div class="col-100 box-center-around">
  <p class="col-15"><i class="fa fa-calculator"></i></p>
  <p class="col-35"><i class="fa fa-tint"> </i> {{unit.getCost() | number}}</p>
  <p class="col-35"><i class="fa fa-clock-o"> </i> {{unit.getTime() | creationTime}}</p>
</div>