.card-img.test-frame
  card-img(unit='building', classes="img-responsive img-rounded img-md")
.building-info.col-60.box-wrap-center-around.test-frame
  h1.h4.col-100.test-frame {{::building.name}}
  p.col-50.test-frame capacity: {{building.getActualCapacity()}}
  p.col-50.test-frame {{type.getTrainerTime(index) | creationTime}}
  p.col-50.test-frame cost: {{building.getCost(type.units) | number}}
  p.col-50.test-frame total: {{building.getQueue()}}
.box-wrap-center-around.col-100.test-frame
  .box-wrap-center-around.col-100.test-frame
    .box-center-around(ng-repeat='unit in type.units track by $index', ng-show='unit.amount > 0 && unit.lvl > 0 && building.amount[unit.id]')
      card-img( unit='unit', classes="img-responsive img-circle img-small")
      .box-col-center-around
      span {{building.amount[$index]}}
.col-100.box-wrap-center-around.test-frame
  .col-50.test-frame
    p chose lvl of building
  select.col-25.form-control(ng-model='building.lvl', ng-options='lvl for lvl in building.lvls', ng-change='watch()')