.card-img.test-frame
  img.img-responsive.img-rounded.img-md(ng-src="http://gillchristian.com/clash/assets/images/{{::building.folder}}/{{::building.building}}-{{building.lvl}}.png")
  //- card-img(unit='building', classes="'img-responsive img-rounded img-md'")
.building-info.col-60.box-wrap-center-around.test-frame
  h1.h4.col-100.test-frame {{::building.name}}
  p.col-50.test-frame capacity: {{building.getActualCapacity()}}
  p.col-50.test-frame {{type.getTrainerTime(index) | creation_time}}
  p.col-50.test-frame cost
  p.col-50.test-frame total: {{building.getQueue()}}
.box-wrap-center-around.col-100.test-frame(ng-show='building.showTroops')
  .box-around.col-100.test-frame
    .box-center-around(ng-repeat='unit in type.units track by $index', ng-show='unit.amount > 0')
      card-img(ng-show='unit.amount > 0', unit='unit', classes="'img-responsive img-circle img-small'")
      p {{building.amount[$index]}}
.col-100.box-wrap-center-around.test-frame
  .col-50.test-frame
    p chose lvl of building
  select.col-25.form-control(ng-model='building.lvl', ng-options='lvl for lvl in building.lvls')

