.card-img.test-frame
    img.img-responsive.img-rounded(src="http://gillchristian.com/clash/img/troops/earthquake.png")
.building-info.col-60.box-wrap-center-around.test-frame
  h1.h4.col-100.test-frame {{building.name}}
  p.col-50.test-frame capacity: {{building.getActualCapacity()}}
  p.col-50.test-frame {{type.getTrainerTime(index) | creation_time}}
  p.col-50.test-frame cost
  p.col-50.test-frame total: {{building.getQueue()}}
.box-wrap-center-around.col-100.test-frame(ng-show='building.showTroops')
  .box-around.col-100.test-frame
    img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/witch.png")
    img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/pig.png")
    img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/valkirye.png")
    img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/golem.png")
    img.img-responsive.img-circle.img-small(src="http://gillchristian.com/clash/img/troops/lavahound.png")
.col-100.box-wrap-center-around.test-frame
  .col-50.test-frame
    p chose lvl of building
  select.col-25.form-control(ng-model='building.lvl', ng-options='lvl for lvl in building.lvls')

