.box-center-around.col-100
  h1.col-40.h4 {{::unit.name}}
  p.col-30 
    i.fa.fa-tint 
    |  {{unit.getActualCost() | number}}
  p.col-30 
    i.fa.fa-clock-o 
    |  {{::unit.time | creationTime}}
.card-img
  card-img(unit='unit', classes="img-responsive img-md")
.col-60.box-wrap-center-around
  .col-50.box-center-around(ng-repeat='trainer in trainers')
    card-img(unit='trainer', classes="img-responsive img-circle img-small")
    .box-col-center-around
      span {{ trainer.amount[unit.id] }}
.col-100.box-center-around
  .col-30.form-group
    label(for='select') lvl
    select.form-control(ng-init='unit.lvl = unit.lvls[0]', ng-model='unit.lvl', ng-options='lvl for lvl in unit.lvls', ng-change='watch()')
  .col-30.form-group
    label(for='amount') amount
    .input-group
      input.form-control(type='text', name='amount', , ng-model='unit.amount', ng-change='watch()')
      .input-group-addon x{{::unit.space}}
.col-100.box-center-around
  p.col-15
    i.fa.fa-calculator
  p.col-35
    i.fa.fa-tint 
    |  {{unit.getCost() | number}}
  p.col-35
    i.fa.fa-clock-o 
    |  {{unit.getTime() | creationTime}}