/* ----- colors ----- */


/*Fonts */
@font-face {
    font-family: ClashFont;
    src: url(fonts/supercell-magic-webfont.ttf);
}

.clash-font {
    font-family: ClashFont, Courier;
    color: #FFD700 !important;
}

.roboto {
	font-family: 'Roboto',sans-serif;
}
/* Select */
.inline{
    display:inline;
}

/* Tables */
th {
    font-size: calc(12px + 9 * ( (100vw - 420px) / 860));
}
@media screen and (max-width: 420px) {
    th {
        font-size: 12px;
    }
}
@media screen and (min-width: 1280px) {
    th {
        font-size: 21px;
    }
}

/* Rows */
.troop-row{
    border: 2px solid #E0E0E0;
    border-bottom: 0px;
    padding: 4px 2px 2px;
}

.troop-row:hover{
    background-color: #F5F5F0;
}

.troop-row:last-child{
    border-bottom: 2px solid #727272;
}

/* Costs classes*/
.elixir {
    color: #CC0066;
}
.dark-elixir {
    color: #111;
}

.limit{
    color: #a94442 !important;
}


/* Footer style */
footer {
    padding: 50px 15px;
    margin-bottom: 0; 
    width: 100%; 
    height: 50px;
    background-color: #727272;
}

.row-box > .row-item {
    margin: 0 10px;
}

.author:link {
    text-decoration: none;
    color: #333333;
}

.author:visited {
    text-decoration: none;
    color: #333333;
}

.author:hover {
    text-decoration: none;
    color: #212121;
}

.author:active {
    text-decoration: none;
    color: #333333;
}
/* --- general layout --- */
.site{
	min-height: 100vh;
}

.site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* --- calculator layout --- */
.calculator-title {
	width: 100%;
	height: 100px;
	background-color: #eceeef;
	margin-top: 35px;
	padding-top: 15px;
}


/* --- divs margin --- */
.margin-5 {
	margin: 5px;
}
.margin-10 {
	margin: 10px;
}
.margin-15 {
	margin: 15px;
}
.margin-20 {
	margin: 20px;
}
.margin-25 {
	margin: 25px;
}
army-card,
building-card {
	/*@mixin wh 300px, 250px;*/
	width: 300px;
	min-height: 250px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.16), 0 2px 10px 0 rgba(0,0,0, 0.12);
    overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.card {
	/*@mixin wh 300px, 250px;*/
	width: 300px;
	min-height: 250px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.16), 0 2px 10px 0 rgba(0,0,0, 0.12);
    overflow: hidden;
}

.card-img {
	display: block;
	padding: 10px 5px 5px 15px;
	/*margin: 0 auto;*/	
}

.img-small {
	width: 35px;
	height: 35px;
}

/* --- this is the building card stylesheet --- */


/* --- this is the troop card stylesheet --- */
/* --- boxes --- */
.box-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.box-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.box-start {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.box-center-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.box-wrap-center-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.box-wrap-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.box-col-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.box-col-center-around {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
/* --- tiems --- */

.item-full {
	width: 100%;
}


/* --- items width --- */
/* --- 5 by 5 percentage based cols --- */
/* --- need to be inside a flexbox --- */
.col-5 {
	width: 5%;
}
.col-10 {
	width: 10%;
}
.col-15 {
	width: 15%;
}
.col-20 {
	width: 20%;
}
.col-25 {
	width: 25%;
}
.col-30 {
	width: 30%;
}
.col-35 {
	width: 35%;
}
.col-40 {
	width: 40%;
}
.col-45 {
	width: 45%;
}
.col-50 {
	width: 50%;
}
.col-55 {
	width: 55%;
}
.col-60 {
	width: 60%;
}
.col-65 {
	width: 65%;
}
.col-70 {
	width: 70%;
}
.col-75 {
	width: 75%;
}
.col-80 {
	width: 80%;
}
.col-85 {
	width: 85%;
}
.col-90 {
	width: 90%;
}
.col-95 {
	width: 95%;
}
.col-100 {
	width: 100%;
}


/* --- General --- */
.content {
    color: #212121;
}

.ul-select {
    padding-left: 0px;
}

/* --- text helpers --- */

.center-text {
	text-align: center;
}

/* --- others --- */

.test-frame{
	border: 1px solid rgba(0,0,0, 0.05);
	border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
          appearance: none; 
  margin: 0; 
}


/* Fix UI Bootstrap problem */

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
/*# sourceMappingURL=style.css.map */