br
br
br 
ul
  li(ng-repeat="unitType in vm.unitTypes track by $index") 
    //- pre {{unitType}}
    //- pre {{unitType.units}}
    hr
    ul
      li(ng-repeat="unit in unitType.units track by unit.id")
        pre {{unit}} {{unit.setLvl(1)}}
        p {{unit.getActualCost()}}
        p {{unit.name}}
