
<div class="calculator-title center-text">
  <h1 class="h2">I'm just testing the army calculator!</h1>
</div>
<div class="margin-10 center-text">
  <tabset justified="true">
    <tab heading="Town Hall (config)">
      <div class="box-wrap-around">
        <building-card ng-repeat="building in vm.buildings track by $index" building="building"></building-card>
      </div>
    </tab>
    <tab ng-repeat="unitType in vm.unitTypes track by $index" heading="{{unitType.name}}">
      <div class="card-set box-wrap-around">
        <army-card ng-repeat="unit in unitType.units track by $index" unit="unit"></army-card>
      </div>
    </tab>
  </tabset>
</div>