troop-card,
building-card {
	/*@mixin wh 300px, 250px;*/
	width: 300px;
	min-height: 230px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
	br: 3px;
    box-shadow: 0 2px 5px 0 rgba($black, 0.16), 0 2px 10px 0 rgba($black, 0.12);
    overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.card {
	/*@mixin wh 300px, 250px;*/
	width: 300px;
	min-height: 250px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
	br: 3px;
    box-shadow: 0 2px 5px 0 rgba($black, 0.16), 0 2px 10px 0 rgba($black, 0.12);
    overflow: hidden;
}

.card-img {
	display: block;
	/*margin: 0 auto;*/	
}

.img-small {
	@mixin wh 35px, 35px;
	margin: 2px 0;
}

.img-md {
	@mixin wh 55px, 55px;
}

.img-lg {
	@mixin wh 70px, 70px;
}

/* --- this is the building card stylesheet --- */


/* --- this is the troop card stylesheet --- */
