/* --- general layout --- */
.site{
	min-height: 100vh;
}

.site-content {
  flex: 1;
}

/* --- calculator layout --- */
.calculator-title {
	@mixin wh 100%, 100px;
	bgc: $jumbotron;
	margin-top: 35px;
	padding-top: 15px;
}


/* --- divs margin --- */
@for $index from 5 to 25 by 5 {
    .margin-$index {
        margin: $(index)px;
    }
}