/* --- general layout --- */
.site{
	min-height: 100vh;
}

.site-content {
  flex: 1;
}

/* --- calculator layout --- */
.calculator-banner {
	width: 100%;
	bgc: $jumbotron;
	margin: 35px 10px 10px;
	padding: 10px;
}


/* --- divs margin --- */
@for $index from 5 to 25 by 5 {
    .margin-$index {
        margin: $(index)px;
    }
}


/* --- icons --- */

.DE {
	bgi: url('../../assets/images/misc/dark-elixir.png');
	@mixin wh 15px, 15px;
	background-size: 100% 100%;
	display: inline-block;
}

.E {
	bgi: url('../../assets/images/misc/elixir.png');
	@mixin wh 15px, 15px;
	background-size: 100% 100%;
	display: inline-block;
}
