/* Select */
.inline{
    display:inline;
}

/* Tables */
th {
    fs: responsive;
}

/* Rows */
.troop-row{
    border: 2px solid $lightGray;
    border-bottom: 0px;
    padding: 4px 2px 2px;
}

.troop-row:hover{
    background-color: $gray;
}

.troop-row:last-child{
    border-bottom: 2px solid $font-light;
}

/* Costs classes*/
.elixir {
    color: $elixir;
}
.dark-elixir {
    color: $dark-elixir;
}

.limit{
    color: $alert !important;
}


/* Footer style */
footer {
    padding: 50px 15px;
    margin-bottom: 0; 
    @mixin wh 100%, 50px;
    bgc: $font-light;
}

.row-box > .row-item {
    margin: 0 10px;
}

.author:link {
    text-decoration: none;
    color: $font-secondary;
}

.author:visited {
    text-decoration: none;
    color: $font-secondary;
}

.author:hover {
    text-decoration: none;
    color: $font-primary;
}

.author:active {
    text-decoration: none;
    color: $font-secondary;
}