@import 'variables';
@import 'mixins';
@import 'old';
@import 'layout';
@import 'card';
@import 'flexbox-grid';


/* --- General --- */
.content {
    color: $font-primary;
}

.ul-select {
    padding-left: 0px;
}

/* --- text helpers --- */

.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

/* --- others --- */

.test-frame{
	/*br: 2px;
	border: 1px solid rgba($darkContent, 0.3);*/

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance: none; 
  margin: 0; 
}


/* Fix UI Bootstrap problem */

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}